<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction

Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">Spacex DataSet</a>

**Navigate to the Go to UI screen**

*   Refer to this insruction in this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sign%20up%20for%20IBM%20Cloud%20-%20Create%20Db2%20service%20instance%20-%20Get%20started%20with%20the%20Db2%20console/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">link</a> for viewing  the   Go to UI screen.

*   Later click on **Data link(below SQL)**  in the Go to UI screen  and click on **Load Data** tab.

*   Later browse for the downloaded spacex file.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/browsefile.png" width="800"/>

*   Once done select the schema andload the file.

 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload3.png" width="800"/>

In [1]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa
!pip install ipython-sql

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ---------------------------------------- 6.0/6.0 MB 2.6 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Installing collected packages: sqlalchemy
  Running setup.py install for sqlalchemy: started
  Running setup.py install for sqlalchemy: finished with status 'done'
Successfully installed sqlalchemy-1.3.9

  DEPRECATION: sqlalchemy is being installed using the legacy 'setup.py install' method, because it does not have a 'pyproject.toml' and the 'wheel' package is not installed. pip 23.1 will enforce this behaviour change. A possible replacement is to enable the '--use-pep517' option. Discussion can be found at https://github.com/pypa/pip/issues/8559

[notice] A new release of pip available: 22.3.1 -> 23.0
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting ibm_db_sa
  Downloading ibm_db_sa-0.3.8-py3-none-any.whl (30 kB)
Collecting ibm-db>=2.0.0
  Downloading ibm_db-3.1.4.tar.gz (1.4 MB)
     ---------------------------------------- 1.4/1.4 MB 2.3 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Installing backend dependencies: started
  Installing backend dependencies: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: sqlalchemy>=0.7.3 in c:\ibmvenv\lib\site-packages (from ibm_db_sa) (1.3.9)
Building wheels for collected packages: ibm-db
  Building wheel for ibm-db (pyproject.toml): started
  Building wheel for ibm-db (pyproject.toml): finished with status 'done'
  Created wheel for ibm-db: filename=ibm_db-3.1.4-py3-none-any.whl size=27751479 sha256=2c9ab299068bc68b3ca519d8a8997b9f154b7780dc984e28e5002634be49e8b5
  Stored in directory: c:\users\pi\appdata\local\pip\cache\wheels\3a\be\7c\a9fba7b555faa36460971a8aa7dce3b283ec9b135be2e1e55e
Successfully built ibm-db
Installing collected packages: ibm-db, ibm_db_sa
Successfully installed ibm-db-3.1.4 ibm_db_sa-0.3.8

[notice] A new release of pip available: 22.3.1 -> 23.0
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting ipython-sql
  Downloading ipython_sql-0.4.1-py3-none-any.whl (21 kB)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\ibmvenv\lib\site-packages (from ipython-sql) (1.3.9)
Requirement already satisfied: six in c:\ibmvenv\lib\site-packages (from ipython-sql) (1.16.0)
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting sqlparse
  Using cached sqlparse-0.4.3-py3-none-any.whl (42 kB)
Requirement already satisfied: ipython>=1.0 in c:\ibmvenv\lib\site-packages (from ipython-sql) (8.7.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\ibmvenv\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in c:\ibmvenv\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.6)
Requirement already satisfied: decorator in c:\ibmvenv\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: traitlets>=5 in c:\ibmvenv\lib\site-packages (from ipython>=1.0->ipython-sql) (5.6.0)
Requirement already satisfied: jedi>=0.16 in c:\ibmvenv\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.2)
Requirement already satisfied: backcall in c:\ibmvenv\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pygments>=2.4.0 in c:\ibmvenv\lib\site-packages (from ipython>=1.0->ipython-sql) (2.13.0)
Requirement already satisfied: colorama in c:\ibmvenv\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.6)
Requirement already satisfied: pickleshare in c:\ibmvenv\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: stack-data in c:\ibmvenv\lib\site-packages (from ipython>=1.0->ipython-sql) (0.6.2)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.11 in c:\ibmvenv\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.33)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\ibmvenv\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\ibmvenv\lib\site-packages (from prompt-toolkit<3.1.0,>=3.0.11->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: asttokens>=2.1.0 in c:\ibmvenv\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.2.0)
Requirement already satisfied: executing>=1.2.0 in c:\ibmvenv\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (1.2.0)
Requirement already satisfied: pure-eval in c:\ibmvenv\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Installing collected packages: prettytable, sqlparse, ipython-sql
  Running setup.py install for prettytable: started
  Running setup.py install for prettytable: finished with status 'done'
Successfully installed ipython-sql-0.4.1 prettytable-0.7.2 sqlparse-0.4.3

  DEPRECATION: prettytable is being installed using the legacy 'setup.py install' method, because it does not have a 'pyproject.toml' and the 'wheel' package is not installed. pip 23.1 will enforce this behaviour change. A possible replacement is to enable the '--use-pep517' option. Discussion can be found at https://github.com/pypa/pip/issues/8559

[notice] A new release of pip available: 22.3.1 -> 23.0
[notice] To update, run: python.exe -m pip install --upgrade pip

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [1]:
%load_ext sql

**DB2 magic in case of old UI service credentials.**

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance before. From the **uri** field of your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_edX/images/URI.jpg">

in the following format

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name**

**DB2 magic in case of new UI service credentials.**

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/servicecredentials.png" width=600>  

*   Use the following format.

*   Add security=SSL at the end

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name?security=SSL**

In [ ]:
# after several hours trying, I still couldn't connect to the db2 cloud instance, so I would like to use a local postgresql for this assignment.

In [2]:
%sql postgresql://test:test@localhost:5432/spacex

In [12]:
%sql ibm_db_sa://

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [7]:
%sql select distinct launch_site from spacex

 * postgresql://test:***@localhost:5432/spacex
4 rows affected.

[('CCAFS SLC-40',), ('KSC LC-39A',), ('CCAFS LC-40',), ('VAFB SLC-4E',)]

### Task 2

##### Display 5 records where launch sites begin with the string 'CCA'

In [8]:
%sql select * from spacex where launch_site like 'CCA%' limit 5

 * postgresql://test:***@localhost:5432/spacex
5 rows affected.

[(datetime.date(2010, 6, 4), '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 (datetime.date(2010, 12, 8), '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 (datetime.date(2012, 5, 22), '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 (datetime.date(2012, 10, 8), '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 (datetime.date(2013, 3, 1), '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [21]:
%sql select * from (select customer, sum(payload_mass_kg_) from spacex group by customer) s1 where s1.customer = 'NASA (CRS)'

 * postgresql://test:***@localhost:5432/spacex
1 rows affected.

[('NASA (CRS)', 45596)]

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [23]:
%sql select * from (select booster_version, sum(payload_mass_kg_) from spacex group by booster_version) s1 where s1.booster_version = 'F9 v1.1'

 * postgresql://test:***@localhost:5432/spacex
1 rows affected.

[('F9 v1.1', 14642)]

### Task 5

##### List the date when the first successful landing outcome in ground pad was acheived.

*Hint:Use min function*

In [27]:
%sql select "date" from spacex where landing_outcome like 'Success%' and position('ground pad' in landing_outcome) > 1 order by "date" asc;

 * postgresql://test:***@localhost:5432/spacex
9 rows affected.

[(datetime.date(2015, 12, 22),),
 (datetime.date(2016, 7, 18),),
 (datetime.date(2017, 2, 19),),
 (datetime.date(2017, 5, 1),),
 (datetime.date(2017, 6, 3),),
 (datetime.date(2017, 8, 14),),
 (datetime.date(2017, 9, 7),),
 (datetime.date(2017, 12, 15),),
 (datetime.date(2018, 1, 8),)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [28]:
%sql select booster_version from spacex where landing_outcome like 'Success%' and position('drone ship' in landing_outcome) > 1 and payload_mass_kg_ >= 4000 and payload_mass_kg_ <=6000

 * postgresql://test:***@localhost:5432/spacex
4 rows affected.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

### Task 7

##### List the total number of successful and failure mission outcomes

In [29]:
%sql select s1.success, s2.failures  from (select count(*) as success from spacex where mission_outcome like 'Success%') s1, (select count(*) as failures from spacex where mission_outcome like 'Fail%') s2

 * postgresql://test:***@localhost:5432/spacex
1 rows affected.

[(100, 1)]

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [30]:
%sql select distinct booster_version from spacex where payload_mass_kg_ = (select max(payload_mass_kg_) from spacex)

 * postgresql://test:***@localhost:5432/spacex
12 rows affected.

[('F9 B5 B1048.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1049.7',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1058.3',),
 ('F9 B5 B1060.2',),
 ('F9 B5 B1060.3',)]

### Task 9

##### List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [32]:
%sql select "date", landing_outcome,booster_version,launch_site from spacex where landing_outcome like 'Fail%' and position('drone ship' in landing_outcome) > 1 and date_part('YEAR', "date") = 2015

 * postgresql://test:***@localhost:5432/spacex
2 rows affected.

[(datetime.date(2015, 1, 10), 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 (datetime.date(2015, 4, 14), 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

### Task 10

##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [38]:
%sql select count(*) as rank, landing_outcome from spacex where "date" between '2010-06-04' and '2017-03-20' group by landing_outcome order by rank desc

 * postgresql://test:***@localhost:5432/spacex
8 rows affected.

[(10, 'No attempt'),
 (5, 'Failure (drone ship)'),
 (5, 'Success (drone ship)'),
 (3, 'Success (ground pad)'),
 (3, 'Controlled (ocean)'),
 (2, 'Uncontrolled (ocean)'),
 (2, 'Failure (parachute)'),
 (1, 'Precluded (drone ship)')]

### Reference Links

*   <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*   <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description        |
| ---------- | ------- | ------------- | ------------------------- |
| 2021-10-12 | 0.4     | Lakshmi Holla | Changed markdown          |
| 2021-08-24 | 0.3     | Lakshmi Holla | Added library update      |
| 2021-07-09 | 0.2     | Lakshmi Holla | Changes made in magic sql |
| 2021-05-20 | 0.1     | Lakshmi Holla | Created Initial Version   |

## <h3 align="center"> Â© IBM Corporation 2021. All rights reserved. <h3/>